    body{
        margin: 0px;
        padding: 0%;
        min-height: 100vh;
    }
    .heading{
        color: rgb(253, 173, 0);
        font-size:70px;
        margin: 0%;
        margin-top: 25px;
        text-align: center;
    }
    .section{
        height: 500px;
        border: 1px solid white;
        
    }
    #navbar{
        height: 70px;
        background: #000;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px;
    }
    #navbar div img{
        height: 60px;
        margin: 5px 0px;
        border-radius: 8px;
    }
    #navbar div img:hover{
        cursor: pointer;
    }
    #navbar ul{
        display: flex;
        list-style: none;
        padding: 0%;
       
    }
    #navbar ul li a{
        padding:10px 20px ;
        margin: 0px 30px;
        border-radius: 12px;
        font-size:small;    
        text-decoration: none;
        color: white;
        transition: .5s;
    }
    /* #navbar ul li a{
        
    } */
    #navbar ul li a:hover{
        background-color: white;
        color: #000;

    }
    #navbar button{
        padding: 10px 20px;
        border-radius: 8px;
    }

    #navbar button:hover{
        background-color: grey;
        color: white;
        transition: .5s;
        cursor: pointer;
    }

    #bannar div img{
        width: 100%;
    }
    #whyus{
        background: url(assets/roast.jpg);
        background-size:cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #whyus div h1{
        color: rgb(253, 173, 0);
        font-size:70px;
        text-align: center;
        padding-bottom: 20px ;
    }
    #whyus div{
        margin:50px 0px ;
        background: rgb(0, 0, 0);
        opacity: 70%;
        width: 80%;
        border: 2px solid white;
        border-radius: 20px; 
    }
    #whyus p{
        color: white;
        text-align: center;
        font-size: large;
        
        padding: 20px ;
    }
    #latest-stories{
        background: url(assets/story.jpg);
        background-size: cover;
    }
    #blog-ltst{
        display: flex;
        flex-direction: row;
        justify-content: space-between  ;
        align-items: center;
        padding-top: 75px;
    }
    .blog-ltst-item div img{
        height: 250px;
        width: 250px;
        /* background: white; */
        border-radius: 50%;
        
    }
    .blog-ltst-item{
        margin:0px 200px;
        color: white;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        /* border: 2PX solid WHITE; */
        padding: 0px 40px;
        /* margin-bottom: 40px; */
    }
    .blog-ltst-item:hover{
        background: white;
        color: black;
        cursor: pointer;
        transition: 0.5s;
        text-decoration: underline;
    }
    
    #newsletter{
        background: linear-gradient(black,grey);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: larger;
        color: white;
        margin: 0%  ;
    }
    #newsletter form{
        border: 2px solid white;
        padding: 10px 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #newsletter form div{
        padding: 5px;
    }
    #newsletter form #submit-btn{
        width: 40%;
        border-radius: 8px;
        border: white;
        margin-top: 5px;
        padding: 3px;
    }
    #newsletter p{
        width: 800px;
        text-align: center;
        
        /* text-align: center;
        align-items: center; */
    }
    #more-about-us .options{
        
        display: flex;   
        flex-direction: row;
        justify-content: space-around;
        align-items:flex-end;
    }
    .options div{
        background: #000;
        color: orange    ;
        height: 300px;
        width: 300px;
        /* margin: 100px; */
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: xx-large;
    }
    .options div:hover{
        background: grey;
        cursor: pointer;
        transition: 0.5S;
    }
    #more-about-us div h1{
        margin-bottom: 50PX;
    }
    #more-about-us{
        background: linear-gradient(grey,black);
        margin: 0%;
    }
    
    footer{
        background: white;
        /* height: 30px; */
        color: BLACK;
        top: 100%;
        position: sticky;
        text-align: center  ;

    }